.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.View {
  min-height: 90vh;
  max-width: 60vw;
  min-width: 40vw;
}

.App-link {
  color: #61dafb;
}

